{% extends 'admin_base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}
    <h1>Edit Book</h1>

    {{ include('backEnd/book/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_book_index') }}">back to list</a>

    {{ include('backEnd/book/_delete_form.html.twig') }}
{% endblock %}
