.bg-custom-nav {
    background-color: #45cea8;
}

nav .btn-outline-light:hover {
    color: #45cea8 !important;
}

.list-group-item.active {
    background-color: #45cea8;
    border-color: #45cea8;
}
