<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link href={{ asset("assets/css/bootstrap.min.css") }} rel="stylesheet">
    <link href={{ asset("assets/css/base.css") }} rel="stylesheet">
    <link href={{ asset("assets/css/register.css") }} rel="stylesheet">

</head>
<body>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <div class="alert alert-success" role="alert">
                                    Your registration is confirmed ! An email has been sent to <em>{{ email }}</em> to confirm your account.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        </div>
    </div>
</body>