
        {% for review in reviews %}
            <p> {{ review.comment }} </p>
            <small class="text-muted">Posted by {{review.userId}} on 3/1/17</small>
            <hr>
        {% else %}
            <div class="text-center container-fluid">
            <em>No reviews found</em>
            </div>
        {% endfor %}

