<div class="col-lg-3 text-center">
    <h1 class="my-4">Catégories</h1>
    <div class="list-group">
        {% for category in categories %}
        <a href="{{ path('category_book_show', {'id' : category.id}) }}" class="list-group-item {% if category in activeCategories %}active{% endif %}">{{ category.name }}</a>
       {% endfor %}
        <a href="{{ everyItemsPath }}" class="list-group-item">{{everyItemsTitle}}</a>

    </div>
</div>