{% extends 'admin_base.html.twig' %}

{% block title %}Edit Borrowing{% endblock %}

{% block body %}
    <h1>Edit Borrowing</h1>

    {{ include('backEnd/borrowing/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_borrowing_index') }}">back to list</a>

    {{ include('backEnd/borrowing/_delete_form.html.twig') }}
{% endblock %}
