@import "~bootstrap/scss/bootstrap";

/*nav {
    background-color: green;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.nav-container {
    display: flex;
    flex-direction: row;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

nav ul {
    list-style: none;
}

nav a {
    display: block;
    text-decoration: none;
    margin: 5px;
}

div a {
    margin-top: 1em !important;
}
*/
