
        {% for document in documents %}
            <div class="col-3">
                <div class="card text-center h-100 {% if document.availability == false %} card-disabled{% endif %}">
                    <a href="{{ document|generateDocumentUrl }}">
                        <img class="" src="{{ document.thumbnailUrl }}" alt="" />
                    </a>
                    <div class="card-body text-center">
                        <a href="{{ path('biblio_book_show', {'id': document.id}) }}">{{ document.title }}</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"> {% for i in 0..document.stars-1 %}&#9733; {% endfor %}</small>
                    </div>
                    {% if document.availability == false %}
                        <div class="card-img-overlay text-center">
                            <h4 class="card-disabled-comment">Unavailable</h4>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="text-center container-fluid">
            <em>No records found</em>
            </div>
        {% endfor %}


